@using FiveAnime.Data.Models

@{
    ViewData["Title"] = "Home Page";
}
@model KeyValuePair<List<Anime>, List<Episode>>

<style>
    .anime-explore-page {
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        width: 80%
    }

    .explore-page-wrapper {
        width: 100vw;
    }

    .card-holder {
        display: flex;
    }

    .anime-explore-page::-webkit-scrollbar {
        display: none;
    }
</style>

<h2 class="text-white-50 mb-4">Recently Added:</h2>
<div class="explore-page-wrapper">
    <div class="row card-holder-category anime-explore-page">
        <button id="slideLeft" type="button"><</button>
        @foreach (var episode in Model.Value.Take(5))
        {
            <div id="@episode.Id" onclick="location.href='@Url.Action("Watch", "Anime")?episodeId=@episode.Id&animeId=@episode.AnimeId'" class="text-white-50 col-2 text-center">
                <img style="width: 100%" src="@Model.Key.Where(x => x.Id == episode.AnimeId).FirstOrDefault().CoverImageUrl" />
                <div class="text-break cut-text">@Model.Key.Where(x => x.Id == episode.AnimeId).FirstOrDefault().Title</div>
                <div>
                    Episode
                    @if (episode.EpisodeNumber <= 9)
                    {<span>0</span>}<span>@episode.EpisodeNumber</span>
                </div>
            </div>
        }
        <button id="slideRight" type="button">></button>

    </div>
</div>

<h2 class="text-white-50 mb-4">Explore:</h2>
<div class="explore-page-wrapper">
    <button id="slideLeft" type="button"><</button>
    <div class="row card-holder-category anime-explore-page">
        @foreach (var anime in Model.Key)
        {
            <div id="@anime.Id" onclick="location.href='@Url.Action("Anime", "Anime")?id=@anime.Id'" class="text-white-50 col-2 text-center">
                <img style="width: 100%" src="@anime.CoverImageUrl" />
                <div class="text-break cut-text">@anime.Title</div>
                <div>@anime.Year</div>
            </div>
        }
    </div>
    <button id="slideRight" type="button">></button>
</div>

<script>
    
</script>