@using FiveAnime.Data.Models

@{
    ViewData["Title"] = "Home Page";
}
@model KeyValuePair<List<Anime>, List<Episode>>

<style>
    html {
        scroll-behavior: smooth;
    }

    .explore-page-wrapper {
        display: flex;
    }

    .anime-explore-page {
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        width: 80%
    }

    .card-holder {
        display: flex;
    }

    .anime-explore-page::-webkit-scrollbar {
        display: none;
    }

    .explore-page-wrapper > button[type="button"] {
        background: none;
        outline: none;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
    }

    .anime {
        cursor: pointer;
    }
</style>

<h2 class="text-white-50 mb-4">Recently Added:</h2>
<div class="explore-page-wrapper">
    <button id="slideLeft1" type="button"><i class="fa fa-chevron-left"></i></button>
    <div id="explore-1" class="row card-holder-category anime-explore-page ml-2 mr-2"s>
        @foreach (var episode in Model.Value.Take(5))
        {
            <div id="@episode.Id" class="text-white-50 col-2 text-center">
                <img class="anime" onclick="location.href='@Url.Action("Watch", "Anime")?episodeId=@episode.Id&animeId=@episode.AnimeId'" style="width: 100%" src="@Model.Key.Where(x => x.Id == episode.AnimeId).FirstOrDefault().CoverImageUrl" />
                <div class="text-break cut-text">@Model.Key.Where(x => x.Id == episode.AnimeId).FirstOrDefault().Title</div>
                <div>
                    Episode
                    @if (episode.EpisodeNumber <= 9)
                    {<span>0</span>}<span>@episode.EpisodeNumber</span>
                </div>
            </div>
        }
    </div>
    <button id="slideRight1" type="button"><i class="fa fa-chevron-right"></i></button>
</div>

<h2 class="text-white-50 mb-4">Explore:</h2>
<div class="explore-page-wrapper">
    <button id="slideLeft" type="button"><i class="fa fa-chevron-left"></i></button>
    <div id="explore-2" class="row card-holder-category anime-explore-page ml-2 mr-2">
        @foreach (var anime in Model.Key)
        {
            <div id="@anime.Id" class="text-white-50 col-2 text-center anime">
                <img class="anime" onclick="location.href='@Url.Action("Anime", "Anime")?id=@anime.Id'" style="width: 100%" src="@anime.CoverImageUrl" />
                <div class="text-break cut-text">@anime.Title</div>
                <div>@anime.Year</div>
            </div>
        }
    </div>
    <button id="slideRight" type="button"><i class="fa fa-chevron-right"></i></button>
</div>

<script>
    'use strict'
    const buttonRight1 = document.getElementById('slideRight1');
    const buttonLeft1 = document.getElementById('slideLeft1');

    buttonRight1.onclick = function () {
        document.getElementById('explore-1').scrollLeft += 900;
    };
    buttonLeft1.onclick = function () {
        document.getElementById('explore-1').scrollLeft -= 900;
    };

    const buttonRight = document.getElementById('slideRight');
    const buttonLeft = document.getElementById('slideLeft');

    buttonLeft.onclick = function () {
        document.getElementById('explore-2').scrollLeft -= 900;
    };
    buttonRight.onclick = function () {
        document.getElementById('explore-2').scrollLeft += 900;
    };
</script>